<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %><body>
  <div class="container">
    <hr>
    <h2>Pesquisa IPC</h2>
    <a class="btn btn-success" href="/admin/ipc/new">Realizar Pesquisa</a>
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome do produto</th>
          <th>Descrição do produto</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Data</th>
          <th>Variação do mês</th>
          <th>Acumulo anual</th>
        </tr>
      </thead>
      <tbody>  
      </tbody>
    </table>
  </div>
</body>
<%- include('./partials/footer.ejs') %>

