<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<body>
  <div class="container">
    <hr>
    <div class="card">
      <div class="card-header">
        <h2>Pequisa do IPC</h2>
      </div>
      <div class="card-body">
        <form method="POST" action="/ipc/save">
          <div class="form-row">
            <div class="form-group col-md-4">
              <input class="form-control" type="text" name="nomeproduto" placeholder="nome do produto">
              <label>Produto</label>
              <select name="produtos" class="form-control">
                <%  %>
              </select>
            </div>
            <div class="form-group col-md-5">
              <input class="form-control" type="text" name="descricaoproduto" placeholder="descricao do produto" >
              <label>Tipo de produto</label>
              <select name="produtos" class="form-control">
                <%  %>
              </select>
            </div>
            <div class="form-group col-md-3">
              <input class="form-control" type="number" step="0.01" name="preco" placeholder="informe o preco">
            </div>
          </div>
          <button class="btn btn-success">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>